In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/Predict_vegetable_2020_price.csv')

In [3]:
df.head()

   Unnamed: 0          Item Name       price
0           0       Sponge Gourd   47.284558
1           1  Baby corn cleaned  139.857760
2           2          Baby corn   30.900019
3           3  Chilakarive green   31.711778
4           4     Chakota greens   47.140140

In [9]:
options = []
item_name = df['Item Name']
for item in item_name:
    option = '<option value="'+str(item)+'">'+str(item)+'</option>'
    options.append(str(option))

In [14]:
options[:10]

['<option value="Sponge Gourd">Sponge Gourd</option>',
 '<option value="Baby corn cleaned">Baby corn cleaned</option>',
 '<option value="Baby corn">Baby corn</option>',
 '<option value="Chilakarive green">Chilakarive green</option>',
 '<option value="Chakota greens">Chakota greens</option>',
 '<option value="Eggs">Eggs</option>',
 '<option value="Arive greens">Arive greens</option>',
 '<option value="knol-khol">knol-khol</option>',
 '<option value="Chikadi kai">Chikadi kai</option>',
 '<option value="Garlic cleaned">Garlic cleaned</option>']

In [15]:
with open('options.txt', 'w') as f:
    for item in options:
        f.write("%s\n" % item)

In [20]:
val =df[df['Item Name'] == 'Baby corn']['price']

KeyError: 0